


h2{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: chartreuse;
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 20px;
    text-decoration: none;
    color: blue;
    padding: 10px;
    /* flex: 2; */

}

.img2{
    width: 100px;
    /* flex: 1; */


}
.Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
    background-color: burlywood;
    opacity: 0.7;
}

